<div *ngIf="!chronometerProvider.isRemoved" class="all-timer-info-wrap">
    <p>
        <span>{{ chronometerProvider.Model.timer.minutes.toString().padStart(2, '0') }}</span> :
        <span>{{ chronometerProvider.Model.timer.seconds.toString().padStart(2, '0') }}</span> :
        <span>{{ chronometerProvider.Model.timer.milliseconds }}</span>
    </p>
    <button *ngIf="chronometerProvider.Model.isRunning" class="stop-button" (click)="updateChronometer()"></button>
    <button *ngIf="!chronometerProvider.Model.isRunning" class="start-button" (click)="updateChronometer()"></button>
    <button class="reset-button" (click)="resetChronometer()">Reset</button>
    <button class="remove-button" (click)="removeChronometer()">Remove</button>
</div>